:root {
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --accent-color: #FF6C00;
  --bg-gradient: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Open Sans", sans-serif;
}

body.modal-open {
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 106px;
  }
}
@media screen and (min-width: 1199px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.media__link, .soc__list, .header__container, .pre-title {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  gap: 20px;
}
.pre-title::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  min-width: 160px;
  height: 40px;
  border: 1px solid #FF6C00;
  border-radius: 25px;
  background-color: transparent;
  transition: background-color 300ms linear, color 300ms linear;
}
.btn:hover, .btn:focus {
  background-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(85, 85, 85, 0.4823529412);
  transition: opacity 500ms linear, visibility 500ms;
  overflow-y: scroll;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 600px;
  background-color: var(--main-title-color);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--second-title-color);
  padding: 40px;
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.247);
  border-radius: 50%;
  background-color: transparent;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}

.input-field {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--second-title-color);
  border-radius: 5px;
  margin-top: 4px;
  padding-left: 35px;
  font-size: 12px;
  color: var(--second-title-color);
}
.form-input:focus {
  outline-color: var(--accent-color);
}

.input-title {
  font-size: 12px;
  color: rgb(117, 117, 117);
  width: 22px;
  height: 14px;
}

.iput-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.form-input:focus + .iput-icon {
  fill: var(--accent-color);
}

.input-wrap {
  position: relative;
}

.modal-text {
  width: 100%;
  height: 100px;
  border: 1px solid var(--second-title-color);
  border-radius: 5px;
  resize: none;
  padding: 12px;
  margin-top: 4px;
}
.modal-text::placeholder {
  font-size: 12px;
}
.modal-text:focus {
  outline-color: var(--accent-color);
}

.check-text {
  font-size: 14px;
  color: rgb(117, 117, 117);
  display: flex;
  align-items: baseline;
}
.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--second-title-color);
  border-radius: 3px;
  margin-right: 5px;
  transition: background-color 300ms linear;
}
.input-check:checked + .check-text::before {
  background-color: var(--accent-color);
  background-image: url(../img/check-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.checkbox-link {
  line-height: 1.71;
  text-decoration-line: underline;
  color: var(--accent-color);
  cursor: pointer;
  font-size: 14px;
  margin-left: 5px;
}

.modal-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  min-width: 160px;
  height: 40px;
  margin-top: 30px;
  margin-left: 135px;
  border: 1px solid #FF6C00;
  border-radius: 25px;
  background-color: transparent;
  transition: background-color 300ms linear, color 300ms linear;
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header__logo {
  margin-right: 130px;
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: block;
  }
}

.navigation__list {
  display: flex;
  column-gap: 30px;
}

.navigation__link,
.connect__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
  transition: color 300ms linear;
}
.navigation__link:hover, .navigation__link:focus,
.connect__tel:hover,
.connect__tel:focus {
  color: var(--accent-color);
}

.connect {
  margin-left: auto;
  display: none;
}
@media screen and (min-width: 768px) {
  .connect {
    display: block;
  }
}

.connect__btn {
  color: var(--main-title-color);
  margin-left: 30px;
}

.menu-open__btn {
  margin-left: auto;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-open__btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-open__btn {
    display: none;
  }
}

.menu-close__btn {
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-close__btn {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  z-index: 1;
  top: 0;
  right: 0;
  width: 337px;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
}
.mob-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.menu-close__btn {
  display: block;
  margin-left: 200px;
  margin-bottom: 30px;
  background-color: transparent;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.1em;
  color: #303030;
  transition: color 300ms linear;
}

.mob-menu__link:hover,
.mob-menu__link:focus {
  color: var(--accent-color);
}

.mob-connect {
  margin-bottom: 69px;
}

.mob-connect__tel {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.1em;
  color: #303030;
  transition: color 300ms linear;
}

.mob-connect__tel:hover,
.mob-connect__tel:focus {
  color: var(--accent-color);
}

.mob-connect__btn {
  display: block;
  margin-top: 24px;
}

.mob-soc-list {
  position: relative;
  padding-left: 100px;
}

.mob-soc-list::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 60px;
  height: 1px;
  background-color: var(--second-title-color);
}

.mob-soc__item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-soc__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 300ms linear;
}

.mob-soc__link:hover,
.mob-soc__link:focus {
  color: var(--accent-color);
}

.hero .container {
  display: flex;
  padding: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero .container {
    padding-left: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .hero .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.soc {
  display: none;
}
@media screen and (min-width: 768px) {
  .soc {
    width: 100px;
    display: flex;
    align-items: flex-end;
    padding-left: 27px;
    padding-bottom: 40px;
  }
}

.soc__list {
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  gap: 40px;
}
.soc__list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--second-title-color);
}

.soc__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--second-title-color);
  transition: color 300ms linear;
}
.soc__link:hover, .soc__link:focus {
  color: var(--accent-color);
}

.hero__content {
  background-color: #303030;
  background-image: var(--bg-gradient), url(../img/slider-img-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 210px 30px;
  flex-grow: 1;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__content {
    background-image: var(--bg-gradient), url(../img/slider-img-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero__content {
    padding: 272px 111px 237px 124px;
    background-image: var(--bg-gradient), url(../img/slider-img-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__content {
    background-image: var(--bg-gradient), url(../img/slider-img-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__content {
    padding: 272px 100px 206px 100px;
    background-image: var(--bg-gradient), url(../img/slider-img-desk.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__content {
    background-image: var(--bg-gradient), url(../img/slider-img-desk-2x.jpg);
  }
}

.hero__pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.hero__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: 20px;
  display: flex;
  align-items: baseline;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 72px;
  }
}

.hero__after-title {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}
@media screen and (min-width: 480px) {
  .hero__after-title {
    max-width: 336px;
  }
}
@media screen and (min-width: 768px) {
  .hero__after-title {
    font-size: 18px;
    line-height: 1.67;
    max-width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__after-title {
    max-width: 360px;
  }
}

.about .container {
  display: flex;
  column-gap: 30px;
}

.picture__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .picture__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .picture__list {
    display: flex;
    column-gap: 30px;
  }
}

.about__content {
  max-width: 470px;
}

.about__pre-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}

.about__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  margin-bottom: 20px;
  width: 306px;
}
@media screen and (min-width: 768px) {
  .about__title {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    width: 470px;
    font-size: 42px;
    line-height: 1.16;
  }
}

.about__after-title {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 20px;
  width: 418px;
}
@media screen and (min-width: 768px) {
  .about__after-title {
    width: 330px;
    font-size: 18px;
    line-height: 1.66;
  }
}
@media screen and (min-width: 1200px) {
  .about__after-title {
    width: 470px;
  }
}

.about__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
  width: 415px;
}
@media screen and (min-width: 768px) {
  .about__text {
    width: 330px;
    margin-bottom: 23px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    width: 470px;
    margin-bottom: 42px;
  }
}

.about__btn {
  color: var(--second-title-color);
}

.prices {
  background-color: #111319;
  background-image: url(../img/prices-bg-mob.png);
  background-repeat: no-repeat;
  background-position: center;
  block-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .prices {
    background-image: url(../img/prices-bg-mob-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .prices {
    background-image: url(../img/prices-bg-tab.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../img/prices-bg-tab-2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .prices {
    background-image: url(../img/bg-prices.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../img/prices-bg-2x.png);
  }
}

.prices__pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.prices__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 39px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: 44px;
  width: 418px;
}
@media screen and (min-width: 768px) {
  .prices__title {
    width: 428px;
    font-size: 41px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .prices__title {
    font-size: 41px;
    line-height: 1.16;
  }
}

.prices__wrap {
  justify-content: space-between;
  background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}
@media screen and (min-width: 768px) {
  .prices__wrap {
    width: 703px;
  }
}
@media screen and (min-width: 1200px) {
  .prices__wrap {
    display: flex;
    width: 100%;
    background: none;
  }
}

@media screen and (min-width: 1200px) {
  .table {
    padding: 30px 40px;
    width: calc(50% - 15px);
  }
  .table:first-child {
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .table:last-child {
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.table__item {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.table__item::after {
  content: "";
  width: 100px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
  margin-left: 12px;
  margin-right: 12px;
}
@media screen and (min-width: 1200px) {
  .table__item:last-child {
    margin-bottom: 0;
  }
}

.table__text {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}
.table__text:last-child {
  order: 1;
}
@media screen and (min-width: 768px) {
  .table__text {
    font-size: 18px;
    line-height: 1.67;
  }
}

.prices__btn {
  color: var(--main-title-color);
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.benefits {
  padding-top: 121px;
}

.benefits-content {
  width: 418px;
  margin-bottom: 44px;
}
@media screen and (min-width: 1200px) {
  .benefits-content {
    width: 500px;
  }
}

.benefits .container {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 1200px) {
  .benefits .container {
    padding-left: 100px;
  }
}

.benefits-list {
  display: flex;
  width: 417px;
  flex-wrap: wrap;
  margin-right: 130px;
}
@media screen and (min-width: 768px) {
  .benefits-list {
    margin-left: 329px;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list {
    width: 370px;
  }
}

.benefits-item {
  width: 170px;
  height: 133px;
  background-color: #F7F7F7;
  padding: 20px 24px;
  box-shadow: 1px 0px 19px 4px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: 1px 0px 19px 4px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 1px 0px 19px 4px rgba(0, 0, 0, 0.67);
}
.benefits-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--second-title-color);
  display: inline-block;
  margin-bottom: 6px;
}
.benefits-item sup {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  color: var(--accent-color);
  margin-top: 12px;
}
.benefits-item:nth-child(even) {
  margin-top: 30px;
}
.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item-top {
  display: flex;
  justify-content: center;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--second-title-color);
}

.benefits-pre-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}

.benefits-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
  margin-bottom: 20px;
}

.benefits-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}
@media screen and (min-width: 768px) {
  .benefits-after-title {
    width: 500px;
  }
}

.barbers {
  background-color: #F7F7F7;
}

.barbers__pre-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}

.barbers__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-list__item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--second-title-color);
  margin-bottom: 8px;
}

.card-list__item {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.75);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .card-list__item {
    width: calc((100% - 30px) / 1);
  }
}
@media screen and (min-width: 1200px) {
  .card-list__item {
    width: calc((100% - 60px) / 3);
  }
}

.card-list__top-wrap {
  position: relative;
  overflow: hidden;
}

.card-list__top-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.8;
  color: var(--main-title-color);
  background-color: rgba(82, 74, 68, 0.5176470588);
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
}
.card-list__item:hover .card-list__top-text {
  transform: translateY(0);
}

.card-list__item-text {
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.card-list__wrap {
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.media {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.media__icon {
  fill: var(--second-title-color);
  transition: fill 300ms linear;
}
.media__link:hover .media__icon, .media__link:focus .media__icon {
  fill: var(--accent-color);
}

.media__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-title-color);
  justify-content: center;
  transition: background-color 300ms linear;
}
.media__link:hover, .media__link:focus {
  background-color: var(--second-title-color);
}

.gallery-pre-title {
  color: var(--second-title-color);
  margin-bottom: 70px;
}
@media screen and (min-width: 768px) {
  .gallery-pre-title {
    margin-bottom: 40px;
  }
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery-item {
    width: calc((100% - 90px) / 4);
  }
}

.online-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  width: 418px;
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.online {
  width: calc(50% - 15px);
  margin-right: 30px;
}
@media screen and (min-width: 1200px) {
  .online {
    padding-bottom: 183px;
  }
}

.online-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.online-item {
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  color: var(--main-title-color);
  font-size: 12px;
  outline: none;
}
.online-item:focus {
  border-color: var(--main-title-color);
}

.online-field {
  margin-bottom: 44px;
  position: relative;
}
.online-field:last-of-type {
  width: 100%;
}

.online-label {
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: transform 250ms linear;
  color: rgba(157, 164, 189, 0.4);
}

.online-input {
  width: 418px;
  height: 24px;
}
@media screen and (min-width: 1200px) {
  .online-input {
    width: 270px;
  }
}

.online-item:focus + .online-label,
.online-item:not(:placeholder-shown) + .online-label {
  color: var(--main-title-color);
  transform: translateY(-100%);
}

.online-text {
  width: 418px;
  height: 76px;
  resize: none;
}
@media screen and (min-width: 1200px) {
  .online-text {
    width: 100%;
  }
}

.online-btn {
  color: var(--main-title-color);
  margin-left: 110px;
}

@media screen and (min-width: 1200px) {
  .contacts {
    padding-bottom: 120px;
    padding-bottom: 184px;
    width: calc(50% - 15px);
    padding-left: 100px;
  }
}

.contacts-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: 40px;
}

.contacts-address {
  margin-bottom: 70px;
}

.contacts-address-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9DA4BD;
  display: block;
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9DA4BD;
  margin-bottom: 20px;
  display: block;
}

.contact-icon {
  vertical-align: middle;
  fill: currentColor;
  margin-right: 16px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-time-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 20px;
}

.contacts-time-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9DA4BD;
}

.contact-wrap {
  background-color: #171A24;
  background-image: url(../img/bg-contacts-mob.png);
  background-repeat: no-repeat;
  background-size: 2 100%;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contact-wrap {
    background-image: url(../img/bg-contacts-mob-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .contact-wrap {
    background-image: url(../img/bg-contacts-tab.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .contact-wrap {
    background-image: url(../img/bg-contacts-tab-2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .contact-wrap {
    background-image: url(../img/bg-contacts.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .contact-wrap {
    background-image: url(../img/bg-contacts-2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .contact-wrap {
    background-position: right;
    background-size: calc(50% - 15px) 100%;
  }
  .contact-wrap .container {
    display: flex;
  }
}

.footer {
  display: flex;
  height: 127px;
}

.footer-list {
  transform-origin: bottom left;
  align-items: center;
  gap: 40px;
  margin-left: auto;
}

.copyright {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  margin-top: 79px;
  color: #9DA4BD;
}
@media screen and (min-width: 768px) {
  .copyright {
    margin-top: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .copyright {
    margin-top: 56px;
  }
}/*# sourceMappingURL=main.css.map */