body {
   font-family: "Open Sans", sans-serif;
   overflow-x: hidden;
}

html {
   overflow-x: hidden;
}

body.modal-open {
   overflow-y: hidden;
}

.list {
   list-style: none;
}

.link {
   text-decoration: none;
}

.section {
   padding-top: 84px;
   padding-bottom: 84px;
   @media screen and (min-width: 768px) {
      padding-top: 100px;
      padding-bottom: 106px;
   }
      @media screen and (min-width: 1199px) {
         padding-top: 120px;
         padding-bottom: 120px;
      }
}